.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: row;
}

.text-container {
    width: 800px;
}

.interactive-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}