<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>A GHOST STORY</h1>
  <p>NOTE: This is a work in progress, and some of the story lines still need finishing, as well as styling and images.</p>
  <div class="text-container">
    <p>{{currentNode.text}}</p>
  </div>
  <div *ngIf="currentNode.left" class="interactive-container">
    <p>Do you choose to: </p>
    <div class="button-container">
      <button mat-button (click)="leftClick()"> {{currentNode.left.button_text}} </button>
      <button mat-button (click)="rightClick()"> {{currentNode.right.button_text}} </button>
    </div>
  </div>
  
</div>

