<!--The content below is only a placeholder and can be replaced.-->
<div class="container" [ngStyle]="{background: 'url(' + background_url +') no-repeat center center fixed', 'background-size': 'cover' }">
  <h1>A GHOST STORY</h1>
  <div class="text-container">
    <p>{{currentNode.text}}</p>
  </div>
  <div *ngIf="currentNode.left" class="interactive-container">
    <p>Do you choose to: </p>
    <div class="button-container">
      <p class="fake-button" (click)="leftClick()">{{currentNode.left.button_text}}</p>
      <p class="fake-button" mat-button (click)="rightClick()">{{currentNode.right.button_text}}</p>
    </div>
  </div>
  <p style="font-size: 12px">To restart the story, refresh your browser.</p>
</div>

